/* Estilos para el título */
.titulo1,
.titulo2 {
    font-family: "Star Jedi", sans-serif;
    font-weight: 700;
    font-size: 78px;
    letter-spacing: 1px;
    text-align: center;
    color: #FFD700;
    margin-bottom: -2%;
    /* Agrega esta línea para eliminar el espacio debajo del título */
}

/* Media query para pantallas pequeñas y medianas */
@media (max-width: 768px) {

    .titulo1,
    .titulo2 {
        font-size: 48px;
    }
}

/* Media query para pantallas pequeñas */
@media (max-width: 480px) {

    .titulo1,
    .titulo2 {
        font-size: 36px;
    }
}

.subtitulo {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
    color: #898989ae;
    margin-bottom: 0%;
    /* Agrega esta línea para eliminar el espacio debajo del subtítulo */
    margin-top: 0%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* Estilos para la carta */
.cardHome {
    width: 27%;
    border-radius: 10px;
    /* Borde redondeado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra */
    transition: transform 0.3s ease;
    /* Transición al hacer clic */
    margin: 20px;
    padding: 0%;
    text-align: center;
}

/* Media query para pantallas pequeñas y medianas */
@media (max-width: 768px) {
    .cardHome {
        width: 40%;
    }
}

/* Media query para pantallas pequeñas */
@media (max-width: 480px) {
    .cardHome {
        width: 60%;
    }
}

.card-titleHome {

    font-family: "Star Jedi", sans-serif;
    font-weight: 800;
    font-size: 35px;
    letter-spacing: -2px;
    text-align: center;
    color: #FFD700;
    margin: 0%;
}

/* Estilos para la imagen dentro de la carta */
.cardHome img {

    height: 150px;
}


.card-bodyHome {
    padding: 0%;
}

/* Estilos para el título de la carta */
.cardHome-title {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
}

/* Estilos al pasar el mouse sobre la carta */
.cardHome:hover {
    transform: translateY(-5px);
    /* Eleva la carta cuando se pasa el mouse */
}

/* Estilos al hacer clic en la carta */
.cardHome:active {
    transform: translateY(2px);
    /* Efecto de hundimiento al hacer clic */
}