.col-4 img{
    height: 20rem;
    width: 10rem;
}


/* Estilos para la carta */
.cardSingle {
    width: 27%;
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.3s ease; /* Transición al hacer clic */
    margin: 20px;
    padding: 0%;
    text-align: center;
    background: white;
    color: black;
    padding: 1px;
    
}

.divCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2px;
}

.detailCard {
    width: 100%; /* O el ancho deseado */
    max-width: 100%; /* Limita el ancho máximo */
    overflow: hidden; /* Oculta el desbordamiento del texto */
    white-space: nowrap; /* Evita que el texto se divida en líneas */
    text-overflow: ellipsis; /* Añade puntos suspensivos al final del texto si se corta */
}

.btn-warning {
    color: #00000069;
    background-color: #85858521;
    border-color: #ffd700;
}


.card-titleSingle {

    font-family: "Star Jedi", sans-serif;
    font-weight: 800;
    font-size: 35px;
    letter-spacing: -2px;
    text-align: center;
    color: #FFD700;
    margin: 0%;
}

.card-textSingle{
    font-family: "Star Jedi", sans-serif;

    letter-spacing: -1px;
    text-align: center;
    color: #797979;
    margin: 0%;
}

/* Estilos para la imagen dentro de la carta */
.cardSingle img {

    height: 150px;
    border-radius: 10px;
}


.card-bodySingle {
    padding: 0%;
}

/* Estilos para el título de la carta */
.cardHome-title {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
}
